<div id="<%= dom_id item %>">
  <p>
    <strong>Item name:</strong>
    <%= item.item_name %>
  </p>

  <div class='item-img'>
    <img src=''>
  </div>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= item.condition %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

</div>
